@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body {
  font-size: 14px;
  color: #4c5258;
  letter-spacing: 0.5px;
  background-color: #f4f4f4;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  position: relative;
}

.sidebar-wrapper {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-right: 0 solid #e4e4e4;
  z-index: 11;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12) !important;
  transition: all 0.2s ease-out;
}

.sidebar-header {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  z-index: 5;
  background: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid #e4e4e4;
}

.logo-icon {
  width: 30px;
}

.logo-text {
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #0d6efd;
}

.toggle-icon {
  font-size: 22px;
  cursor: pointer;
  color: #0d6efd;
}

/* HEADER */

.topbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid rgb(228 228 228 / 0%);
  z-index: 10;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* HEADER - NAVBAR */

.topbar .navbar {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.page-wrapper {
  height: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 250px;
}

.page-content {
  padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}

/* Footer */

.page-footer {
  background: #fff;
  left: 250px;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  border-top: 1px solid #e4e4e4;
  z-index: 3;
}

.wrapper.toggled .topbar {
  left: 70px;
}

.wrapper.toggled .page-wrapper {
  margin-left: 70px;
}

.wrapper.toggled .page-footer {
  left: 70px;
}

.sidebar-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: 0 0;
}

.sidebar-wrapper .metismenu {
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-wrapper .metismenu li + li {
  margin-top: 5px;
}

.sidebar-wrapper .metismenu li:first-child {
  margin-top: 5px;
}

.sidebar-wrapper .metismenu li:last-child {
  margin-bottom: 5px;
}

.sidebar-wrapper .metismenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.sidebar-wrapper .metismenu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 8px 15px;
  font-size: 15px;
  color: #5f5f5f;
  outline-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.5px;
  border: 1px solid #ffffff00;
  transition: all 0.3s ease-out;
}

/* sidebar - icons */

.sidebar-wrapper .metismenu a .parent-icon {
  font-size: 24px;
  line-height: 1;
}

.sidebar-wrapper .metismenu a .menu-title {
  margin-left: 10px;
}

.sidebar-wrapper .metismenu ul a {
  padding: 6px 15px 6px 15px;
  font-size: 15px;
  border: 0;
}

.sidebar-wrapper .metismenu ul a i {
  margin-right: 10px;
}

.sidebar-wrapper .metismenu ul {
  border: 1px solid #ededed;
  background: #fff;
}

.sidebar-wrapper .metismenu ul ul a {
  padding: 8px 15px 8px 30px;
}

.sidebar-wrapper .metismenu ul ul ul a {
  padding: 8px 15px 8px 45px;
}

.sidebar-wrapper .metismenu .mm-active > a,
.sidebar-wrapper .metismenu a:active,
.sidebar-wrapper .metismenu a:focus,
.sidebar-wrapper .metismenu a:hover {
  color: #0d6efd;
  text-decoration: none;
  background: rgb(13 110 253 / 0.12);
}

.menu-label {
  padding: 20px 15px 5px 5px;
  color: #b0afaf;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.metismenu .has-arrow:after {
  position: absolute;
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 1.2px 0 0 1.2px;
  border-color: initial;
  right: 15px;
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: top;
  top: 50%;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 1025px) {
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .sidebar-header
    .logo-text {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .sidebar-header
    .toggle-icon {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    width: 70px;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu a {
    justify-content: center;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    .menu-title {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li ul {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    li.menu-label {
    display: none;
  }
  .wrapper.toggled:not(.sidebar-hovered)
    .sidebar-wrapper
    .metismenu
    .has-arrow:after {
    display: none;
  }
}

/* Botón para que suba automáticamente */

.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  position: fixed;
  border-radius: 10px;
  bottom: 20px;
  right: 12px;
  background-color: #0d6efd;
  z-index: 5;
}

.back-to-top:hover {
  color: #fff;
  background-color: #000;
  transition: all 0.5s;
}

/* Breadcrumb */

.breadcrumb-title {
  font-size: 20px;
  border-right: 1.5px solid #aaa4a4;
}

.page-breadcrumb .breadcrumb li.breadcrumb-item {
  font-size: 16px;
}

.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: '/';
}

.recent-product-img {
  width: 40px;
  height: 40px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.recent-product-img img {
  width: 40px;
  height: 40px;
  padding: 6px;
}

.order-actions a,
.order-actions button {
  font-size: 18px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border: 1px solid #eeecec;
  text-align: center;
  border-radius: 20%;
  color: #2b2a2a;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.bg-light-transparent {
  background-color: rgb(0 0 0 / 15%) !important;
}

.bg-gradient-deepblue {
  background: #6a11cb;
  background: -webkit-linear-gradient(45deg, #6a11cb, #2575fc) !important;
  background: linear-gradient(45deg, #6a11cb, #2575fc) !important;
}

.bg-gradient-orange {
  background: #fc4a1a;
  background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733) !important;
  background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
}

.bg-gradient-ohhappiness {
  background: #00b09b;
  background: -webkit-linear-gradient(45deg, #00b09b, #96c93d) !important;
  background: linear-gradient(45deg, #00b09b, #96c93d) !important;
}

.bg-gradient-ibiza {
  background: #ee0979;
  background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00) !important;
  background: linear-gradient(45deg, #ee0979, #ff6a00) !important;
}

.section-authentication-signin {
  height: 100vh;
}

.bg-login {
  background-image: url('https://res.cloudinary.com/dgulsgme7/image/upload/v1620754077/bg-login-img_dewuns.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-separater span {
  position: relative;
  top: 26px;
  margin-top: -10px;
  background: #fff;
  padding: 5px;
  font-size: 12px;
  color: #cbcbcb;
  z-index: 1;
}

.btn i {
  vertical-align: middle;
  font-size: 1.3rem;
  margin-top: -1em;
  margin-bottom: -1em;
  margin-right: 5px;
}

input::placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}

.search-bar-box {
  width: 75%;
}

.search-control {
  background-color: #f6f5f5;
  border: 1px solid #f2efef;
  padding-right: 2.5rem;
}

.search-show {
  font-size: 18px;
  right: 15px;
}

.search-close {
  font-size: 24px;
  right: 10px;
  cursor: pointer;
  display: none;
}

.topbar .navbar .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  color: #252323;
  font-size: 22px;
}

.dropdown-toggle-nocaret:after {
  display: none;
}

.user-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 0 solid #e5e5e5;
  padding: 0;
}

.user-info .user-name {
  font-size: 15px;
  font-weight: 500;
  color: #413c3c;
}

.user-info .designattion {
  font-size: 13px;
  color: #a9a8a8;
}

.user-box {
  display: flex;
  align-items: center;
  height: 60px;
  border-left: 1px solid #f0f0f0;
  margin-left: 1rem;
}

.topbar .navbar .dropdown-menu::after {
  content: '';
  width: 13px;
  height: 13px;
  background: #ffff;
  position: absolute;
  top: -6px;
  right: 16px;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.user-box .dropdown-menu i {
  vertical-align: middle;
  margin-right: 10px;
}

.dropdown-menu {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 0 solid #e9ecef;
  border-radius: 10px;
  font-size: 14px;
}

.topbar .navbar .dropdown-menu {
  -webkit-animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
    animdropdown;
  animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
    animdropdown;
}

@-webkit-keyframes animdropdown {
  from {
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes animdropdown {
  from {
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.mobile-search-icon {
  display: none;
}

.mobile-toggle-menu {
  display: none;
  font-size: 26px;
  color: #404142;
  cursor: pointer;
}

.switcher-wrapper {
  width: 330px;
  height: 100%;
  position: fixed;
  right: -330px;
  top: 0;
  bottom: 0;
  z-index: 16;
  background: #fff;
  border-left: 0 solid #d2d2d2;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-out;
}

.switcher-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  background: #0d6efd;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
  color: #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 40%;
  right: 100%;
  cursor: pointer;
}

.switcher-wrapper.switcher-toggled {
  right: 0;
}

.switcher-body {
  padding: 1.25rem;
}

.switcher-body .form-check .form-check-input,
.switcher-body .form-check .form-check-label {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .topbar {
    left: 0 !important;
  }
  .mobile-search-icon {
    display: block;
  }
  .mobile-toggle-menu {
    display: block;
  }
  .sidebar-wrapper {
    left: -300px;
    box-shadow: none;
  }
  .page-wrapper {
    margin-left: 0;
  }
  .page-footer {
    left: 0;
  }
  .search-bar {
    display: none;
  }
  .full-search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
    background: #171717;
    height: 60px;
    padding: 0 1.4rem;
  }
  .search-bar-box {
    width: 100%;
  }
  .search-close {
    display: block;
  }
  .search-show {
    left: 15px;
    right: auto;
  }
  .search-control {
    background-color: #fff;
    border: 1px solid #f2efef00;
    padding-left: 2.5rem;
  }
  .wrapper.toggled .sidebar-wrapper {
    left: 0;
  }
  .wrapper.toggled .page-wrapper {
    margin-left: 0;
  }
  .wrapper.toggled .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    display: block;
    cursor: move;
    transition: all 0.2s ease-out;
  }
}

@media screen and (max-width: 991px) {
  .section-authentication-signin {
    height: 100%;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .user-box .user-info {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .topbar .navbar .dropdown-menu::after {
    display: none;
  }
  .topbar .navbar .dropdown {
    position: static !important;
  }
  .topbar .navbar .dropdown-menu {
    width: 100% !important;
  }
}

.box-shadow {
  box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
}

.snip1515 {
  font-family: 'Open Sans', sans-serif, Arial;
  position: relative;
  margin: 10px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 90%;
  background-color: #f2f2f2;
  color: #555;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 30px;
}

.snip1515 h3 {
  margin: 0 0 2px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}
